* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

div.frontpage {
	height: 100vh;
	width: 100vw;
	background-color: #abc7b4;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

}

footer {
	height: 20vh;
	background-color: #331a00;
}
